.cart {
    cursor: pointer;
    position: relative;
}

.cart__quantity h6{
    position: absolute;
    top: -6px;
    right: -12px;
	padding: 2px 4px;
	font-weight: 800;
	font-size: 0.8rem;
	line-height: 10px;
    border: 3px solid #212529;
	border-radius: 20px;
    background-color: red;
    font-weight: 500;
    color: #ffffff;
}

