.navbar div {
    display: flex;
    color: #57bee6;
    align-items: center;
}
.container__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__favorite {
   padding-right: 10px;
}

